body {
  background-color: #222222;
  color: #EAEAEA;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

h1 {
  text-align: center;
}

/*Indentation des sections*/
section {
  margin-left: 25px;
}

/*Marge entre la sidebar et le contenu*/
#content > section {
  margin-left: 20px;
}

/*Espace entre deux sous sections*/
#content > section section {
  margin-bottom: 50px;
}

a {
  color: #ffa500;
}

#mainDiv {
  display: flex;
}

#sidebar {
  border: 1px solid #EAEAEA;
  padding: 10px;
  padding-left: 20px;
  width: 250px;
  background-color: #303030;
}

#content {
  flex-grow: 1;
}

div {
  border-radius: 3px;
}

/*Enlève le style initial d'une liste*/
nav ul {padding-left: 0px;}
nav ul li {  list-style-type: none;}

nav ul > li {
  margin-bottom: 2px;
}

/*Espacement entre les items principaux de la liste*/
nav > ul > li {
  margin-bottom: 10px;
}

/*Indentation des sous items de liste*/
nav ul ul {
  margin-left: 15px;
}

/*Rend la navbar sticky*/
nav {
  position: sticky;
  top: 20px;
}

.imageRight {
  float: right;
  border: 1px solid #707070;
}

.imageRight div {
  margin: 2px;
  margin-top: 0px;
  border: 1px solid #707070;
}

.imageRight div p {
  margin: 10px;
}

.inline {
  display: inline;
}

section {
  clear: right;
}

dl {
  margin: 0px;
}

dt {
  display: inline-block;
  font-family: monospace;
  font-size: 1.1em;
  background-color: #191919;
  border-radius: 3px;
  padding: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.1em;
}

code {
  font-family: monospace;
  font-size: 1.1em;
  background-color: #191919;
  border-radius: 3px;
  padding: 0.2em;
}

img {
  vertical-align: middle;
}
